{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="mb-4">Login</h2>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Login</button>
</form>

<!-- Buttons to register as Student or Alumni -->
<div class="d-flex gap-2">
    <a href="{% url "student_register" %}" class="btn btn-secondary">Register as Student</a>
    <a href="{% url 'alumni_register' %}" class="btn btn-secondary">Register as Alumni</a>
</div>
{% endblock %}
